<form class="form">
  <mat-form-field class="firstName" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput placeholder="" value="name here!" [(ngModel)]="firstName" name="firstName">
  </mat-form-field>  
</form>

<button mat-flat-button color="primary" (click)="createAccount()"> send! </button>  

<mat-toolbar color="primary">
  <mat-icon>cloud</mat-icon>
  <span style="margin-left: 2vw">Sales API</span>
  <span class="example-spacer"></span>
  <mat-icon>code</mat-icon>
</mat-toolbar>
  
<div *ngFor="let account of accounts" class="example-card" style="width: 65vw;display: block;margin-left: auto;
margin-right: auto;">
  <mat-card style="margin-top:5vh" class="animate__animated animate__flipInX">
    <mat-card-subtitle>{{account.Id}}</mat-card-subtitle>
    <mat-card-title>{{account.Name}}</mat-card-title>
    <mat-card-content>
      <p>Hello, my name's {{account.Name}}!</p>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button (click)="deleteData(account.Id)" mat-flat-button color="warn" style="display: block;margin-left: auto;margin-right: auto;">DELETE</button>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>
</div>



<router-outlet></router-outlet>